<% if !user_signed_in? %>
  <%= link_to('SIGN IN', new_user_session_path)%>
<% end %>


<div class="container">
  <div class="row head">
    <div class="col-md-2">
      <h1 class="heading">Cupboards</h1>
      <p class="top-button"><%= link_to "Add item manually", new_item_path, class: "btn btn-default" %></p>
      <p class="top-button"><%= link_to "Import barcodes", cupboards_get_eans_path, class:"btn btn-default" %></p>
    </div>
  </div>

  <div class="row cupboards">
    <% @cupboards.each do |cupboard| %>
    <%= link_to image_tag("/assets/#{cupboard.image_link}"), cupboard_path(cupboard), class: "icon-button" %>
    <% end %>
  </div>
 
  <h4 class="title">Links</h4>
  <div class="row">
    <div class="col-md-2 footer-buttons">
      <%= link_to image_tag("/assets/recipes.png"), recipes_path, class:"icon-button" %>
      <%= link_to image_tag("/assets/list.png"), shopping_list_items_path, class:"icon-button" %>
    </div>
    <h4 class="title">Add something</h4>
    <div class="col-md-2 footer-buttons">
      <%= link_to "Add cupboard", new_cupboard_path, class:"btn btn-default" %>
      <%= link_to "Add Category", new_category_path, class:"btn btn-default" %>
    </div>
    
    
  </div>