<div class="container">
  <div class="row head">
    <div class="col-md-2">
      <h1 class="heading">Hypothetical recipes I can make now</h1>
      <p class="top-button"><%= link_to "All recipes", recipes_path, class: "btn btn-default"  %></p>
    </div>
  </div>
      
  <p>Please seperate multiple items with a comma</p>
  <%= form_tag(recipes_hypothetical_make_now_path, :method => "get") do %>
    <%= text_field_tag :hypo_items, params[:hypo_items], class: "form-control", placeholder: "Enter your Hypo item" %><br>
    <button class="btn btn-default", type="submit">Submit</button>
  <% end %>
  <br>
  <% if params[:hypo_items] != nil %>
    <% if @hypo_recipes != [] %>
      <p>If you were to buy <%= @hypo_items.join(" & ") %> you could make:</p>
      <div class="col-md-8">
        <% @hypo_recipes.each do |recipe| %>
          <div class="row">
            <div class="col-sm-4">
              <div class="table-recipe">
                <%= link_to image_tag(recipe.picture_url), recipe_path(recipe), class: "center-block table-image" %>
                <%= link_to recipe.name, recipe_path(recipe) %>
              </div>
            </div>
        <% end %>
      </div>
     <% end %>
    <% end %>
  </div>
     
</div>
