<div class="container">
  <div class="row head">
    <div class="col-md-2">
      <h1 class="heading">Hypothetical recipes I can make now</h1>
      <p class="top-button"><%= link_to "All recipes", recipes_path, class: "btn btn-default"  %></p>
    </div>
  </div>
      
  <p>Please seperate multiple items with a comma</p>
  <%= form_tag(recipes_hypothetical_make_now_path, :method => "get") do %>
    <%= text_field_tag :hypo_items, params[:hypo_items], class: "form-control", placeholder: "Enter your Hypo item" %><br>
    <button class="btn btn-default", type="submit">Submit</button>
  <% end %>
  <br>
  <% if params[:hypo_items] != nil %>
    <% if @hypo_recipes != [] %>
      <p>If you were to buy <%= @hypo_items.join(" & ") %> you could make:</p>
      <table class="table">
        <% @hypo_recipes.each do |recipe| %>
        <td>
          <img class="center-block" style="width: 100px;", src="<%= recipe.picture_url %>">
          <%= link_to recipe.name, recipe_path(recipe) %></td>
        <% end %>
        </table>
        
    <% else %>
      <p>I'm afraid there aren't any recipes you can make with that </p>
    <% end %>
  <% end %>
</div>
