<div class="container">
  <div class="row head">
    <div class="col-md-2">
      <h1 class="heading">Recipes</h1>
      <p class="top-button"><%= link_to "Make now", recipes_make_now_path, class: "btn btn-default"  %></p>
      <p class="top-button"><%= link_to "Add recipe", new_recipe_path, class: "btn btn-default"  %></p>
      <p class="top-button"><%= link_to "Back to cupboards", cupboards_path, class: "btn btn-default"  %></p>
    </div>
  </div>
  
  
  <div class="col-md-8">
  <!-- Why isn't this an instance variable? -->
  <% grouped_recipes.each do |meal, recipe| %>
    <h4 class="category-name"><%= meal %></h4>
      <div class="row">
       <% recipe.each do |recipe| %>
        <div class="col-sm-4">
          <div class="table-recipe">
            <%= link_to image_tag(recipe.picture_url), recipe_path(recipe), class: "center-block table-image" %>
          
          <%= link_to recipe.name, recipe_path(recipe) %>
            </div>
        </div>
        <% end %>
    </div>
    
    <% end %>
  </div>
  
</div>