<div class="container">
  <div class="row head">
    <div class="col-md-2">
      <h1 class="heading">Recipes</h1>
      <p class="top-button"><%= link_to "Make now", recipes_make_now_path, class: "btn btn-default"  %></p>
      <p class="top-button"><%= link_to "Add recipe", new_recipe_path, class: "btn btn-default"  %></p>
      <p class="top-button"><%= link_to "Back to cupboards", cupboards_path, class: "btn btn-default"  %></p>
    </div>
  </div>
  
  
  <div class="col-md-8">
  <!-- Why isn't this an instance variable? -->
  <% grouped_recipes.each do |meal, recipe| %>
    <h4 class="category-name"><%= meal %></h4>
    <table class="table">
       <% recipe.each do |recipe| %>
        <td><img class="center-block" style="width: 100px;", src="<%= recipe.picture_url %>">
          <%= link_to recipe.name, recipe_path(recipe) %></td>
        <% end %>
      
    </table>
    <% end %>
  </div>
  
</div>