<div class="container">
  <h1 style="text-align: center;">Categories</h1>
  <div style="text-align: center;">
    <%= link_to "Add a new item", new_item_path, class:"btn btn-default" %>
  </div>
  
  <% @categories.each do |category| %>
    <%= link_to "#{category.name}", root_path(:anchor => "#{category.name}"), class:"btn btn-small" %>
  <% end %>
  <br>
    <% @categories.each do |category| %>
  
  <div>
  <table class="table table-condensed">
    <thead>
      <tr>
        <td id="<%= category.name%>"><strong><%= category.name %></strong></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% category.items.each do |item| %>
        <td class="name" ><%= item.name %></td>
        <% if item.quantity? %>
          <td><%= item.quantity %></td>
        <% else %>
          <td><%= item.grams %>g</td>
        <% end %>
        <td><%= link_to increase_item_path(item), class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-plus"></i>
        <% end %>
          <%= link_to decrease_item_path(item), class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-minus"></i>
        <% end %>
        </td>
        
        
      </tr>
      <% end %>
    </tbody>
    <% end %>
  </table>
  </div>
  
</div>
