<div class="container">

<h1>Categories</h1>
  <%= link_to "Add a new item", new_item_path %>
  <% @categories.each do |category| %>
      
<table class="table">
  <thead>
    <tr>
      <td><strong><%= category.name %></strong></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% category.items.each do |item| %>
      <td><%= item.name %></td>
      <td><%= item.quantity %></td>
      <td><%= link_to "Increase", increase_item_path(item) %> </td>
      <td><%= link_to "Decrease", decrease_item_path(item) %> </td>
    </tr>
    <% end %>
  </tbody>
  <% end %>
</table>
</div>
